.timeline__container{
    display: flex;
    border-bottom: 1px solid #3b4754;
}

.timeline__buttons__container {
    display: flex;
    align-items: center;
}

.timeline__button {
    font-weight: bold;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}

.timeline__button:hover {
    color: #5ac53b;
}

.timeline__button.active {
    color: #5ac53b;
    border-bottom: 1px solid #5ac53b;
}

.newsfeed__market__section {
    margin: 30px 0;
}

.newsfeed__market__box {
    height: 10vh;
    padding: 20px;
    border: 1px solid #3b4754;
    border-radius: 4px;
    text-align: left;
}

.newsfeed__market__box > p {
    color: #7b858a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}